name: PyPi deployment

on:
  push:
    branches:
      - main

jobs:
  uv-deploy:
    name: deploy
    runs-on: ubuntu-latest
    env:
      UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Verify lock file is up to date
        run: uv lock --check

      - name: Build the project
        run: uv build

      - name: Publish to PyPi
        run: uv publish
